#header2-3 P {
  text-align: center;
}
#header2-3 H1 {
  text-align: center;
}
#msg-box4-at .mbr-header__text {
  color: #ffffff;
}
#msg-box4-at .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-at .mbr-article {
  color: #ffffff;
}
#msg-box4-as .mbr-header__text {
  color: #ffffff;
}
#msg-box4-as .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-as .mbr-article {
  color: #ffffff;
}
#msg-box4-ar .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ar .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ar .mbr-article {
  color: #ffffff;
}
#msg-box4-aq .mbr-header__text {
  color: #ffffff;
}
#msg-box4-aq .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-aq .mbr-article {
  color: #ffffff;
}
#msg-box4-ap .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ap .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ap .mbr-article {
  color: #ffffff;
}
#msg-box4-ao .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ao .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ao .mbr-article {
  color: #ffffff;
}
#msg-box4-an .mbr-header__text {
  color: #ffffff;
}
#msg-box4-an .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-an .mbr-article {
  color: #ffffff;
}
#msg-box4-am .mbr-header__text {
  color: #ffffff;
}
#msg-box4-am .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-am .mbr-article {
  color: #ffffff;
}
#msg-box4-al .mbr-header__text {
  color: #ffffff;
}
#msg-box4-al .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-al .mbr-article {
  color: #ffffff;
}
#msg-box4-ak .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ak .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ak .mbr-article {
  color: #ffffff;
}
#msg-box4-aj .mbr-header__text {
  color: #ffffff;
}
#msg-box4-aj .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-aj .mbr-article {
  color: #ffffff;
}
#msg-box4-ai .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ai .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ai .mbr-article {
  color: #ffffff;
}
#msg-box4-ah .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ah .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ah .mbr-article {
  color: #ffffff;
}
#msg-box4-ag .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ag .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ag .mbr-article {
  color: #ffffff;
}
#msg-box4-af .mbr-header__text {
  color: #ffffff;
}
#msg-box4-af .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-af .mbr-article {
  color: #ffffff;
}
#msg-box4-ae .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ae .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ae .mbr-article {
  color: #ffffff;
}
#msg-box4-ad .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ad .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ad .mbr-article {
  color: #ffffff;
}
#msg-box4-ac .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ac .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ac .mbr-article {
  color: #ffffff;
}
#msg-box4-ab .mbr-header__text {
  color: #ffffff;
}
#msg-box4-ab .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-ab .mbr-article {
  color: #ffffff;
}
#msg-box4-aa .mbr-header__text {
  color: #ffffff;
}
#msg-box4-aa .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-aa .mbr-article {
  color: #ffffff;
}
#msg-box4-a9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a9 .mbr-article {
  color: #ffffff;
}
#msg-box4-a8 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a8 .mbr-article {
  color: #ffffff;
}
#msg-box4-a7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a7 .mbr-article {
  color: #ffffff;
}
#msg-box4-a6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a6 .mbr-article {
  color: #ffffff;
}
#msg-box4-a5 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a5 .mbr-article {
  color: #ffffff;
}
#msg-box4-a4 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a4 .mbr-article {
  color: #ffffff;
}
#msg-box4-a3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a3 .mbr-article {
  color: #ffffff;
}
#msg-box4-a2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a2 .mbr-article {
  color: #ffffff;
}
#msg-box4-a1 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a1 .mbr-article {
  color: #ffffff;
}
#msg-box4-a0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-a0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a0 .mbr-article {
  color: #ffffff;
}
#msg-box4-9z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9z .mbr-article {
  color: #ffffff;
}
#header2-1q H1 {
  text-align: center;
  font-size: 36px;
}
#header2-1q P {
  text-align: center;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-a .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-c .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-e .mbr-brand__name {
  font-size: 16px;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-e .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-g .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-i .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-k .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-m .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-o .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-q .mbr-brand__name {
  font-size: 16px;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-q .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-s .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-t .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-u .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-v .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-w .mbr-brand__name {
  font-size: 16px;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-w .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-x .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-y .mbr-brand__name {
  font-size: 16px;
}
#menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-y .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-z .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-10 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-12 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-14 .mbr-brand__name {
  font-size: 16px;
}
#menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-14 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-16 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-18 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1a .mbr-brand__name {
  font-size: 16px;
}
#menu-1a.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1a .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1c .mbr-brand__name {
  font-size: 16px;
}
#menu-1c.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1c .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1e .mbr-brand__name {
  font-size: 16px;
}
#menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1e .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1g .mbr-brand__name {
  font-size: 16px;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1g .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1i .mbr-brand__name {
  font-size: 16px;
}
#menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1i .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1j .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1k .mbr-brand__name {
  font-size: 16px;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1l .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1m .mbr-brand__name {
  font-size: 16px;
}
#menu-1m.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-1m .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-1u .mbr-header__text {
  color: #ffffff;
  font-size: 21px;
}
#msg-box4-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1u .mbr-article {
  color: #ffffff;
}
#msg-box4-2m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2m .mbr-article {
  color: #ffffff;
}
#msg-box4-2n .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2n .mbr-article {
  color: #ffffff;
}
#msg-box4-2o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2o .mbr-article {
  color: #ffffff;
}
#msg-box4-2p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2p .mbr-article {
  color: #ffffff;
}
#msg-box4-2q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2q .mbr-article {
  color: #ffffff;
}
#msg-box4-2r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2r .mbr-article {
  color: #ffffff;
}
#msg-box4-2s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2s .mbr-article {
  color: #ffffff;
}
#msg-box4-2t .mbr-header__text {
  color: #ffffff;
  font-size: 21px;
}
#msg-box4-2t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2t .mbr-article {
  color: #ffffff;
}
#msg-box4-2u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2u .mbr-article {
  color: #ffffff;
}
#msg-box4-2v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2v .mbr-article {
  color: #ffffff;
}
#msg-box4-2w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2w .mbr-article {
  color: #ffffff;
}
#msg-box4-2x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2x .mbr-article {
  color: #ffffff;
}
#msg-box4-3b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3b .mbr-article {
  color: #ffffff;
}
#msg-box4-3a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3a .mbr-article {
  color: #ffffff;
}
#msg-box4-39 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-39 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-39 .mbr-article {
  color: #ffffff;
}
#msg-box4-38 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-38 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-38 .mbr-article {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-36 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-32 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#msg-box4-31 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-31 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-31 .mbr-article {
  color: #ffffff;
}
#msg-box4-30 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#msg-box4-2z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2z .mbr-article {
  color: #ffffff;
}
#msg-box4-2y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2y .mbr-article {
  color: #ffffff;
}
#menu-4i .mbr-brand__name {
  font-size: 16px;
}
#menu-4i.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4i .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-au .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-au .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4k .mbr-brand__name {
  font-size: 16px;
}
#menu-4k.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4k .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-av .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-av .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4m .mbr-brand__name {
  font-size: 16px;
}
#menu-4m.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4m .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-aw .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-aw .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4o .mbr-brand__name {
  font-size: 16px;
}
#menu-4o.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4o .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-ax .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-ax .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4q .mbr-brand__name {
  font-size: 16px;
}
#menu-4q.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4q .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-ay .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-ay .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4s .mbr-brand__name {
  font-size: 16px;
}
#menu-4s.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4s .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-az .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-az .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4u .mbr-brand__name {
  font-size: 16px;
}
#menu-4u.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4u .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4w .mbr-brand__name {
  font-size: 16px;
}
#menu-4w.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4w .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b1 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-4y .mbr-brand__name {
  font-size: 16px;
}
#menu-4y.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-4y .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-50 .mbr-brand__name {
  font-size: 16px;
}
#menu-50.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-50 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b3 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-52 .mbr-brand__name {
  font-size: 16px;
}
#menu-52.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-52 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-54 .mbr-brand__name {
  font-size: 16px;
}
#menu-54.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-54 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-56 .mbr-brand__name {
  font-size: 16px;
}
#menu-56.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-56 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-58 .mbr-brand__name {
  font-size: 16px;
}
#menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-58 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5a .mbr-brand__name {
  font-size: 16px;
}
#menu-5a.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5a .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5c .mbr-brand__name {
  font-size: 16px;
}
#menu-5c.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5c .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-b9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-b9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5e .mbr-brand__name {
  font-size: 16px;
}
#menu-5e.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5e .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-ba .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-ba .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5g .mbr-brand__name {
  font-size: 16px;
}
#menu-5g.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5g .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bb .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bb .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5i .mbr-brand__name {
  font-size: 16px;
}
#menu-5i.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5i .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bc .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bc .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5k .mbr-brand__name {
  font-size: 16px;
}
#menu-5k.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5k .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bd .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bd .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5m .mbr-brand__name {
  font-size: 16px;
}
#menu-5m.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5m .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-be .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-be .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5o .mbr-brand__name {
  font-size: 16px;
}
#menu-5o.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5o .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bf .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bf .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5q .mbr-brand__name {
  font-size: 16px;
}
#menu-5q.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5q .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bg .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bg .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5s .mbr-brand__name {
  font-size: 16px;
}
#menu-5s.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5s .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bh .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bh .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5u .mbr-brand__name {
  font-size: 16px;
}
#menu-5u.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5u .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bi .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bi .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5w .mbr-brand__name {
  font-size: 16px;
}
#menu-5w.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5w .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bj .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bj .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-5y .mbr-brand__name {
  font-size: 16px;
}
#menu-5y.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-5y .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bk .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bk .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-60 .mbr-brand__name {
  font-size: 16px;
}
#menu-60.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-60 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bl .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bl .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-62 .mbr-brand__name {
  font-size: 16px;
}
#menu-62.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-62 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bm .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bm .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-64 .mbr-brand__name {
  font-size: 16px;
}
#menu-64.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-64 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-bn .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-bn .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-8v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8v .mbr-article {
  color: #ffffff;
}
#msg-box4-9e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9e .mbr-article {
  color: #ffffff;
}
#msg-box4-9d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9d .mbr-article {
  color: #ffffff;
}
#msg-box4-9c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9c .mbr-article {
  color: #ffffff;
}
#msg-box4-9b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9b .mbr-article {
  color: #ffffff;
}
#msg-box4-9a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9a .mbr-article {
  color: #ffffff;
}
#msg-box4-99 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-99 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-99 .mbr-article {
  color: #ffffff;
}
#msg-box4-98 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-98 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-98 .mbr-article {
  color: #ffffff;
}
#msg-box4-97 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-97 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-97 .mbr-article {
  color: #ffffff;
}
#msg-box4-96 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-96 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-96 .mbr-article {
  color: #ffffff;
}
#msg-box4-95 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-95 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-95 .mbr-article {
  color: #ffffff;
}
#msg-box4-94 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-94 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-94 .mbr-article {
  color: #ffffff;
}
#msg-box4-93 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-93 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-93 .mbr-article {
  color: #ffffff;
}
#msg-box4-92 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-92 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-92 .mbr-article {
  color: #ffffff;
}
#msg-box4-91 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-91 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-91 .mbr-article {
  color: #ffffff;
}
#msg-box4-90 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-90 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-90 .mbr-article {
  color: #ffffff;
}
#msg-box4-8z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8z .mbr-article {
  color: #ffffff;
}
#msg-box4-8y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8y .mbr-article {
  color: #ffffff;
}
#msg-box4-8x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8x .mbr-article {
  color: #ffffff;
}
#msg-box4-8w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8w .mbr-article {
  color: #ffffff;
}
#header2-6e H1 {
  text-align: center;
}
#header2-6e P {
  text-align: center;
}
#menu-6f .mbr-brand__name {
  font-size: 16px;
}
#menu-6f.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6f .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9f .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6h .mbr-brand__name {
  font-size: 16px;
}
#menu-6h.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6h .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9g .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6j .mbr-brand__name {
  font-size: 16px;
}
#menu-6j.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6j .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9h .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6l .mbr-brand__name {
  font-size: 16px;
}
#menu-6l.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6l .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9i .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6n .mbr-brand__name {
  font-size: 16px;
}
#menu-6n.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6n .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9j .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6p .mbr-brand__name {
  font-size: 16px;
}
#menu-6p.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6p .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9k .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6r .mbr-brand__name {
  font-size: 16px;
}
#menu-6r.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6r .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9l .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6t .mbr-brand__name {
  font-size: 16px;
}
#menu-6t.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6t .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9m .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6v .mbr-brand__name {
  font-size: 16px;
}
#menu-6v.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6v .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9n .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6x .mbr-brand__name {
  font-size: 16px;
}
#menu-6x.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6x .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9o .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6z .mbr-brand__name {
  font-size: 16px;
}
#menu-6z.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-6z .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9p .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-71 .mbr-brand__name {
  font-size: 16px;
}
#menu-71.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-71 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9q .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-73 .mbr-brand__name {
  font-size: 16px;
}
#menu-73.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-73 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9r .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-75 .mbr-brand__name {
  font-size: 16px;
}
#menu-75.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-75 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9s .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9s .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-77 .mbr-brand__name {
  font-size: 16px;
}
#menu-77.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-77 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9t .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-79 .mbr-brand__name {
  font-size: 16px;
}
#menu-79.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-79 .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9u .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-7b .mbr-brand__name {
  font-size: 16px;
}
#menu-7b.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-7b .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9v .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-7d .mbr-brand__name {
  font-size: 16px;
}
#menu-7d.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-7d .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9w .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-7f .mbr-brand__name {
  font-size: 16px;
}
#menu-7f.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-7f .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9x .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-7h .mbr-brand__name {
  font-size: 16px;
}
#menu-7h.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-7h .mbr-navbar__hamburger {
  color: #f7da64;
}
#msg-box3-9y .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-9y .mbr-header .mbr-header__subtext {
  text-align: center;
}
